@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.weather {
    place-self: center;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #56b3fa, #87ceeb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 300px;
}

.search-bar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.search-bar img:hover {
    border: 2px solid black;
    border-radius: 50%;
}

.weather-icon {
    width: 150px;
    margin: 30px;
}

.temperature {
    color: white;
    font-size: 80px;
    line-height: 1;
}

.location {
    color: white;
    font-size: 40px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 0 20px;
}

.weather-details .col {
    display: flex;
    align-items: center;
    gap: 12px;
}

.weather-details .col img {
    width: 40px;
}

.weather-details .col div {
    display: flex;
    flex-direction: column;
}

.weather-details .col div p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.weather-details .col div span {
    font-size: 14px;
    color: white;
}
